label + .radio-wrapper {
    margin-top: 1rem;
}

.radio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    gap: 1rem;
}

.radio-inner {
    border: 1px solid var(--stroke-default);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0.5rem 0.5rem;
    position: relative;
    cursor: pointer;
    transition: border 0.2s ease;
    
    & input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        margin: 0;
        z-index: 10;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(../../assets/ícons/radio-default.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        pointer-events: none;
        z-index: 1;
    }

    &:has(:checked)::before {
        background-image: url(../../assets/ícons/radio-checked.svg);
    }

    &:hover, &:focus-within {
        border: 1px solid var(--stroke-highlight);
    }

    &:has(:checked) {
        border: 2px solid var(--stroke-highlight);
    }
}

.radio-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    z-index: 2;
}

.radio-image img,
.radio-image label {
    pointer-events: none;
}